/**
* color options used across the project
**/

$white: #fff;
$black: #000;

// primary palette
$blue-50: #e7ebf2;
$blue-100: #c2cce1;
$blue-200: #9aabcc;
$blue-300: #738ab7;
$blue-400: #5471a8;
$blue-500: #33599c;
$blue-600: #2c5192;
$blue-700: #224787;
$blue-800: #1b3e7a;
$blue-900: #112d63;

// secondary palette
$golden-50: #f5eee2;
$golden-100: #e7d5b6;
$golden-200: #d8ba89;
$golden-300: #caa060;
$golden-400: #c18f48;
$golden-500: #ba7e30;
$golden-600: #b6752c;
$golden-700: #af6927;
$golden-800: #a85c20;
$golden-900: #9e4816;

// accent palette
$red-50: #ffeaee;
$red-100: #ffcbd3;
$red-200: #f2979a;
$red-300: #e96e73;
$red-400: #f44951;
$red-500: #fa3336;
$red-600: #eb2735;
$red-700: #d91b2f;
$red-800: #cc0f28;
$red-900: #bd001b;


$black-300: rgba($black, 0.3);
$black-400: rgba($black, 0.38);
$black-600: rgba($black, 0.6);
$black-700: rgba($black, 0.75);
$black-800: rgba($black, 0.87);

$white-400: rgba($white, 0.38);
$white-600: rgba($white, 0.6);

$extra-light-sand: #cea76c;
$light-sand: #caa060;
$dark-sand: #a6855c;

$gray-100: #fafafa;
$gray-200: #f0f0f0;
