/* font sizes */
$font-size-heading1: 3.125rem;
$font-size-heading2: 2.45rem;
$font-size-heading3: 2.25rem;
$font-size-heading4: 2rem;
$font-size-heading5: 1.6rem;
$font-size-heading6: 1.25rem;
$font-size-subtitle1: 0.996875rem;
$font-size-subtitle2: 0.924375rem;
$font-size-body1: 1.00625rem;
$font-size-body2: 0.880625rem;
$font-size-caption: 0.755rem;
$font-size-button: 0.9375rem;
$font-size-overline: 0.755rem;


/* font weights */
$font-weight-normal: 400;
$font-weight-medium: 500;


/* line heights */
$line-height-heading: normal;
$line-height-subtitle1: 1.5;
$line-height-subtitle2: 1.62;
$line-height-body1: 1.5;
$line-height-body2: 1.5;
$line-height-caption: 1.5;
$line-height-button: 1.5;
$line-height-overline: 1.5;


/* letter spacing */
$letter-spacing-heading1: -0.74px;
$letter-spacing-heading2: -0.32px;
$letter-spacing-heading3: normal;
$letter-spacing-heading4: 0.22px;
$letter-spacing-heading5: normal;
$letter-spacing-heading6: 0.24px;
$letter-spacing-subtitle1: 0.15px;
$letter-spacing-subtitle2: 0.1px;
$letter-spacing-body1: 0.5px;
$letter-spacing-body2: 0.25px;
$letter-spacing-caption: 0.4px;
$letter-spacing-button: 1.25px;
$letter-spacing-overline: 2px;
